.popupWrap{
    .popupWrapBlur{
        width: 102%;
        height: 120%;
        background: #000;
        opacity: .2;
        z-index: 2;
        position: fixed;
        top: -100px;
        left: -20px;
    }

    .popup{
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 32px;
        border-radius: 12px;
        background: #FFF;
        position:fixed;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -125px;
        max-width: 465px;
        width: 100%;
        z-index: 3;

        h2{
            font-family: 'ClashDisplay-Bold';
            font-size: 32px;
            letter-spacing: -0.1px;
        }

        .warming{
            color: #F00;
            font-family: 'ClashDisplay-Bold';
            font-size: 20px;
            letter-spacing: -0.2px;
        }
        .checkBoxWrap{
            padding-left: 5px;

            label{
                font-family: 'ClashDisplay-Bold';
                position: relative;
                font-size: 17px;
                top: -2px;
            }
        }
        .actions{
            display: flex;
            justify-content: space-between;
        }
        
    }
}
