.table {
    width: 100%;
    text-align: center;
    border-spacing: 0 10px;

    .cell {
        padding: 9px;
    }
    .row:hover {
        background: #120f070c;
        cursor: default;
    }
}
